*{
  margin:0px
}

header{
  height:100px;
  background-color:#9A33CC;
}

main{
  min-height:400px;
}

footer{
  height:50px;
  background-color:#0099CB;
}

.g_bg-blue{
   background-color:#0099CB;
}

.g_color_white{
  color:white !important
}


.g_border{
  border: 1px dashed black;
}

